/* my first cc */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(181, 181, 181);
}

img {
    border: 10px solid goldenrod;
}

h1 {
    border: 6px dotted goldenrod;
    display: block;
}
blockquote {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}
cite {
    font-size: 1.5rem;
}

.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
}
ol {
    color: blueviolet;
}

ul a:link {
    font-weight: bold;
    text-decoration: none;
    color: rgb(242, 5, 5);
    font-size: 2rem;
}
a:visited {
    
    color: rgb(49, 188, 103);
    font-weight: normal;
}
a:hover {
    color: rgb(189, 222, 2);
    text-decoration: underline;
    background-color: black;
}